@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 177, 185, 172;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('/images/bgLines.png'), url('/images/bgPattern.png');
  background-repeat: no-repeat, repeat-x ;
  /* color: 'rgb(177, 185, 172)'; */
  /* padding: 0 24px; */

  color: rgb(var(--foreground-rgb));
  
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));  */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
